* {
    box-sizing: border-box;


    font-family: 'Nunito', sans-serif;
}
  
html {
    scroll-behavior: smooth;
}
  
[hidden] {
    display: none !important;
}

.pdfView {
    overflow: auto;
}

/* Background color for the whole page */
body {
    background-color: #E5E5E5;
}

/* Container for everything except demonstrative circle canvas */
#main-body {
    background-color: #E5E5E5;
    margin: 100px;
    padding: 30px;
}

/* Eye pointer overlay for demonstration purposes */
#circle {
    position: fixed;
    width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* Circle will be rendered over the rest of the HTML elements */
    z-index: 10;

    /* The canvas can be clicked through, not interacted with */
    pointer-events: none;
}

/* Welcome screen main text "Welcome back, [name]! */
h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    text-align: left;

    color: #9491A6;
    padding: 10px 10px 20px 10px;
}

/* Welcome text username color change */
.username {
    color: #1286F0;
}

/* PDF / Book titles */
h4 {
    text-align: right;
    font-size: 24px;
    color: black;
    padding: 30% 20px 20px 0px;
}

/* Panel displaying PDF / Books */
.card {
    border-radius: 10px;
    margin: 30px;

    /* border-style: solid;
    border-width: 1px;
    border-color: #e6b693; */

    background: linear-gradient(292.92deg, #FFFFFF 53.38%, rgba(255, 255, 255, 0) 85.51%),
    url('assets/image.png');
    background-size: cover;
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.5);
    border-radius: 15px;
}

/* !! TEMPORARY !! displays different background panel images depending on the book */
#bible.card {
    background: linear-gradient(292.92deg, #FFFFFF 53.38%, rgba(255, 255, 255, 0) 85.51%),
    url('assets/bible_cover.jpg');
}

#harry.card {
    background: linear-gradient(292.92deg, #FFFFFF 53.38%, rgba(255, 255, 255, 0) 85.51%),
    url('assets/harry_cover.jpg');
}

#kimetsu.card {
    background: linear-gradient(292.92deg, #FFFFFF 53.38%, rgba(255, 255, 255, 0) 85.51%),
    url('assets/kimetsu_cover.jpg');
}

/* Used to control the responsiveness of individual panels */
.item {
    width: 50%;
    float: right;
}

.last-item {
    width: 100%;
    float: left;
}