* {
    box-sizing: border-box;


    font-family: 'Nunito', sans-serif;
}
  
html {
    scroll-behavior: smooth;
}
  
[hidden] {
    display: none !important;
}

.pdfView {
    overflow: auto;
}

#circle {
    position: fixed;
    width: 100%;
    height: 100%;
    

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 10;

    pointer-events: none;
}

h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    text-align: left;

    color: #9491A6;
    padding: 10px 10px 20px 10px;
}

h4 {
    text-align: right;
    font-size: 24px;
    color: black;
    padding: 30% 20px 20px 0px;
}

h5 {
    text-align: right;
    font-size: 24px;
    color: black;
    padding: 30% 20px 20px 0px;
}

img {
    display: block;
    height: 250px;
    width: 250px;
    margin: auto;
}

footer {
    font-size: 10px;
    text-align: center;
    padding: 50px 0px 30px 0px;
}

.card {
    border-radius: 10px;
    margin: 30px;

    /* border-style: solid;
    border-width: 1px;
    border-color: #e6b693; */

    background: linear-gradient(292.92deg, #FFFFFF 53.38%, rgba(255, 255, 255, 0) 85.51%),
    url('assets/image.png');
    background-size: cover;
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.5);
    border-radius: 15px;
}

#bible.card {
    background: linear-gradient(292.92deg, #FFFFFF 53.38%, rgba(255, 255, 255, 0) 85.51%),
    url('assets/bible_cover.jpg');
}

#harry.card {
    background: linear-gradient(292.92deg, #FFFFFF 53.38%, rgba(255, 255, 255, 0) 85.51%),
    url('assets/harry_cover.jpg');
}

#kimetsu.card {
    background: linear-gradient(292.92deg, #FFFFFF 53.38%, rgba(255, 255, 255, 0) 85.51%),
    url('assets/kimetsu_cover.jpg');
}

.username {
    color: #1286F0;
}

.tag {
    float: right;
    padding: 10px;
    width: 30%;
    background-color: #fcdbc2;

    text-align: center;
    font-weight: 500;
    font-size: 12px;
    color:#a87a58;

    border-radius: 0px 10px 0px 10px;
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    border-color: #e6b693;
}

.item {
    width: 50%;
    float: right;
}

.last-item {
    width: 100%;
    float: left;
}

#main-body {
    background-color: #E5E5E5;
    margin: 100px;
    padding: 30px;

    /* border-style: solid;
    border-radius: 25px;
    border-width: 1px;
    border-color: #d6ccb6; */
}

/* .overlay {
    position: fixed;
    display: none; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
  }

.unhide {
    display: block;
} */

body {
    background-color: #E5E5E5;
}